# Supabase Connection Variables (Projeto sistema-salas)
# Obtenha estas credenciais no painel do seu projeto Supabase (Project Settings -> API)
VITE_SUPABASE_URL=https://gqpavuqopukyfeyqyrxc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_idoSyVhNDWy33hjn4xCUpw_wjpcB8CS


